<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Imports -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		{% if title %}
		<title>{{ title }} - Todo API</title>
		{% else %}
		<title>Todo API</title>
		{% endif %}
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Todo API - Documentation</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">GET</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">POST</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">PUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">DELETE</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class"container-fluid">
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<img src="{{  url_for('static', filename='db_structure.png')}}" alt="ERD Schema">
				</div>
			</div>
		</div>

		

		<!-- Main Content -->
		<div class="container-fluid">

			<!-- TODO ADMIN -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Admin Todos CRUD</h5>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/todos</span> Return JSON with all todos. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todos" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todos</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/todos</span> Post new todo from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todos" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todos</a></p>
							<p style="font-style: italic;">{"todo_description": "todo_description", "completed": "completed", "user_id": "user_id"}</p> 
							<p><span style='font-weight: 675;'>GET /api/todo/id</span> Return JSON selected todo. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todo/1" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todo/1</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/todo/id</span> Update selected todo from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todo/1" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todo/1</a></p>
							<p style="font-style: italic;">{"todo_description": "todo_description", "completed": "completed", "user_id": "user_id"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/todo/id</span> Delete selected todo. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todo/1" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todo/1</a></p>
							<p><span style='font-weight: 675;'>GET /api/todo/user/user_id</span> Return JSON with all todos for user. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/todo/user/1" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/todo/user/1</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- TODO USER -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">User Todos CRUD</h5>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as user</h6>
							<p><span style='font-weight: 675;'>GET /api/todos</span> Return JSON with all todos for user. <a href="https://flask-todoapp-api.herokuapp.com/api/todos" class="card-link">https://flask-todoapp-api.herokuapp.com/api/todos</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/todos</span> Post new todo from JSON for user<a href="https://flask-todoapp-api.herokuapp.com/api/todos" class="card-link">https://flask-todoapp-api.herokuapp.com/api/todos</a></p>
							<p style="font-style: italic;">{"todo_description": "todo_description", "completed": "completed"}</p> 
							<p><span style='font-weight: 675;'>GET /api/todo/id</span> Return JSON selected todo for user. <a href="https://flask-todoapp-api.herokuapp.com/api/todo/1" class="card-link">https://flask-todoapp-api.herokuapp.com/api/todo/1</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/todo/id</span> Update selected todo from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/todo/6" class="card-link">https://flask-todoapp-api.herokuapp.com/api/todo/6</a></p>
							<p style="font-style: italic;">{"todo_description": "todo_description", "completed": "completed"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/todo/id</span> Delete selected todo for user. <a href="https://flask-todoapp-api.herokuapp.com/api/todo/6" class="card-link">https://flask-todoapp-api.herokuapp.com/api/todo/6</a></p>
						</div>								
					</div>
				</div>
			</div>


			<!-- USER ADMIN -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Admin User CRUD</h5>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as admin</h6>
							<p><span style='font-weight: 675;'>GET /api/admin/users</span> Return JSON with all users. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/users" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/users</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/admin/users</span> Post new user from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/admin/users" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/users</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password", "first_name": "first_name", "last_name": "last_name"}</p> 
							<p><span style='font-weight: 675;'>GET /api/admin/user/id</span> Return JSON selected user. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/user/id" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/user/id</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/admin/user/id</span> Update selected user from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/admin/user/id" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/user/id</a></p>
							<p style="font-style: italic;">{"password": "password", "first_name": "first_name", "last_name": "last_name"}</p>
							<p><span style='font-weight: 675;'>DELETE /api/admin/user/id</span> Delete selected user. <a href="https://flask-todoapp-api.herokuapp.com/api/admin/user/id" class="card-link">https://flask-todoapp-api.herokuapp.com/api/admin/user/id</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- USER USER -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">User User CRUD</h5>
							<h6 class="card-subtitle mb-2 text-muted">Requires JWT Token auth as user</h6>
							<p><span style='font-weight: 675;'>GET /api/user</span> Return JSON with user information. <a href="https://flask-todoapp-api.herokuapp.com/api/user" class="card-link">https://flask-todoapp-api.herokuapp.com/api/user</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>PUT /api/user</span> Update connected user from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/user" class="card-link">https://flask-todoapp-api.herokuapp.com/api/user</a></p>
							<p style="font-style: italic;">{"password": "password", "first_name": "first_name", "last_name": "last_name"}</p>
							<p><span style='font-weight: 675;'>DELETE api/user</span> Delete connected user. <a href="https://flask-todoapp-api.herokuapp.com/api/user" class="card-link">https://flask-todoapp-api.herokuapp.com/api/user</a></p>
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/login</span> Login user and return JWT <a href="https://flask-todoapp-api.herokuapp.com/api/login" class="card-link">https://flask-todoapp-api.herokuapp.com/api/login</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password"}</p> 
							<p style="margin-bottom: 0;"><span style='font-weight: 675;'>POST /api/register</span> Post new user and userdetail from JSON <a href="https://flask-todoapp-api.herokuapp.com/api/register" class="card-link">https://flask-todoapp-api.herokuapp.com/api/register</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password", "first_name": "first_name", "last_name": "last_name"}</p> 
						</div>
					</div>
				</div>
			</div>

		<!-- Bootstrap core JavaScript -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
	</body>
</html>
